name: package

on: [push, pull_request]

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 2.5

  build:
    needs: ruby-versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ruby: [ '${{ needs.ruby-versions.outputs.latest }}', 'head' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - { ruby: head, os: windows-latest }
    steps:
    - name: git config
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        git config --global advice.detachedHead 0
    - uses: actions/checkout@v6.0.0
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Package
      id: package
      run: |
        rake build
        pkg="${GITHUB_REPOSITORY#*/}-${RUNNING_OS%-*}"
        RUBY_VERSION=${{matrix.ruby}}
        if [ "$RUBY_VERSION" = head ]; then
          pkg=$pkg-$RUBY_VERSION
        fi
        echo "pkg=$pkg" >> $GITHUB_OUTPUT
      env:
        RUNNING_OS: ${{matrix.os}}
      shell: bash
    - name: Upload package
      uses: actions/upload-artifact@v5
      with:
        path: pkg/*
        name: ${{steps.package.outputs.pkg}}
